################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/GameficationMarkdonw/FileContentIndex/69bb7d22-1239-447f-9db8-1c794d63d239.vsidx
/.vs/GameficationMarkdonw/FileContentIndex/aff28eaa-c662-4f9f-8c9d-b9a724543a72.vsidx
